// sidebar
$menuText:#222;
$menuActiveText:#ff6146;
$subMenuActiveText:#222; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#ffffff;//背景颜色
$menuHover:#f6f7f8;

$subMenuBg:#ffffff;
$subMenuHover:#f6f7f8;

$sideBarWidth: 272px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
